@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}

.center-shadow {
  box-shadow: 0px 0px 5px rgb(201, 201, 201);
}

body::-webkit-scrollbar {
  display: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
.transition-delay-300ms {
  transition: 300ms;
}
.max-width45rem {
  width: 45rem;
  max-width: 100%;
  margin: 0 auto;
}
.Hline {
  width: 90%;
  height: 1px;
  margin: 0 auto;
  background: rgb(197, 197, 197);
}

.going-up-animation {
  animation: floatingwindow--open 0.3s ease;
}
@keyframes floatingwindow--open {
  from {
    transform: translateY(20rem);
  }
}

.image-fit {
  -o-object-fit: cover;
  object-fit: cover;
}

.jumping--icon {
  animation: jump 0.3s infinite alternate;
}

@keyframes jump {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}

.loading--background {
  background: linear-gradient(to right, rgb(118, 118, 118), white);
  background-size: 200% auto;
  animation: gradientAnimation 2s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.filter-bar::-webkit-scrollbar {
  height: 2px;
}

.filter-bar::-webkit-scrollbar-track {
  background: rgb(214, 214, 214);
  border-radius: 20px;
}

.filter-bar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}

.filter-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: black;
  margin-top: -0.3rem;
  transition: 0.3s;
}

.filter-active::after {
  width: 20%;
}

.underline-expand {
  position: relative;
}
.underline-expand::after {
  content: "";
  height: 1px;
  width: 0;
  background: black;
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  transition: width 0.2s ease;
}
.underline-expand:hover::after {
  width: 100%;
}

/* ----------------------------------------- */
.show-up {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.5rem;
  transition: bottom 0.2s;
  color: white;
}

.show-up-triger:hover .show-up {
  bottom: 0.5rem;
  color: black;
}
.show-up-triger:hover .colored {
  background: rgb(55, 55, 55);
}

/* absolute left-1/2 transform -translate-x-1/2 show-up */
