.login--container {
  height: 100lvh;
  display: grid;
  place-items: center;
}
.login--form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40rem;
  max-width: 95%;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0 auto;
}
.login--input {
  width: 100%;
  border: none;
  border-bottom: solid black 1px;
  padding: 0.3rem;
  font-size: 1rem;
}
.login--input:focus {
  outline: none;
}
.login--submit {
  padding: 1rem;
  background: #e3735e;
  border: none;
  border-radius: 0.3rem;
  text-align: center;
  color: white;
}
.google--login {
  background: none;
  color: black;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}
.gl--loading {
  color: gray;
  border: 1px solid gray;
  cursor: wait;
}
.Hline {
  width: 80%;
  height: 1px;
  margin: 0 auto;
  background: rgb(197, 197, 197);
}

