.types--container {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  width: 100%;
}
.createpost--title {
  text-align: center;
  font-weight: 500;
}
.type--container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 1.5rem;
  border: solid 1px rgb(164, 164, 164);
  border-radius: 0.5rem;
}
.type--container:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.selectedtype {
  border: solid 1px black;
}
@media (max-width: 768px) {
  .type--container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    padding: 1rem;
    border: solid 1px rgb(164, 164, 164);
  }
}
