.postpage--container {
  padding: 1rem 10rem;
}
.postpage--topbar {
  width: 100%;
  position: relative;
}

.postpage--images {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.postpage--button {
  display: none;
}

.postpage--mainpic,
.little--images {
  width: 50%;
}

.postpage--mainpic,
.little-image img {
  -o-object-fit: cover;
  object-fit: cover;
}

.little--images {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: calc(50% - 0rem);
  gap: 0.5rem;
}

.little--images img {
  height: 100%;
  width: 100%;
}

.postpage--info {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.postpage--description {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.postpage--status {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
}
.postpage--amenities {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.postpage--amenities--element {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: solid 1px #e0e0e0;
  border-radius: 0.5rem;
  color: #222222;
  font-size: 0.8rem;
}
.postpage--poster {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-top: 0.5rem;
  /* border: solid gray 1px; */
  color: #222222;
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
}
.postpage--poster img {
  height: 4rem;
  width: 4rem;
  object-fit: cover;
  border-radius: 50%;
}

.pricing--container {
  width: 30rem;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.pricing--price {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}
.reservation-info {
  margin-top: 1rem;
  font-size: 0.7rem;
}
.reservation-info h2 {
  margin-bottom: 0.3rem;
}
.reservation--submit {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
  background: none;
  border: solid 1px #222222;
  border-radius: 0.5rem;
}
.reservation--submit:hover {
  background: #222222;
  color: white;
  cursor: pointer;
}
.reservation--price {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  font-size: 1.3rem;
}
@media (max-width: 1100px) {
  .postpage--container {
    font-size: 0.7rem;
    padding: 1rem 1rem;
  }
  .postpage--poster img {
    height: 2.5rem;
    width: 2.5rem;
  }
  .postpage--images {
    display: grid;
    grid-template-columns: 100% 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  .postpage--images::-webkit-scrollbar {
    display: none;
  }
  .postpage--button {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
  }
  .postpage--mainpic,
  .little--images {
    scroll-snap-align: center;
    width: 100%;
    height: 100%;
  }
  .little--images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: calc(50% - 0.25rem);
    gap: 0.5rem;
  }

  .postpage--info {
    display: block;
  }
  .pricing--container {
    margin: 3rem auto;
    max-width: 100%;
  }
  .reservation--price {
    font-size: 1rem;
  }
}
