.pricing--container {
  margin: 3rem auto;
  width: 100%;
}
.price--inputs--container {
  display: flex;
  align-items: center;
  width: 15rem;
  max-width: 48%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: solid black 1px;
}
.price--inputs--container input {
  width: 100%;
  border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price--inputs--container p {
  white-space: nowrap;
}
.price--inputs--container input:focus {
  outline: none;
}

.prices--container {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .prices--container {
    flex-direction: column;
    gap: 1rem;
  }
  .price--inputs--container {
    width: 100%;
    max-width: 100%;
  }
}
