.searchbar--big {
  display: flex;
  align-items: center;
  width: 40rem;
  margin: 0 auto;
  max-width: 80%;
  gap: 1rem;
}
.searchbar--container {
  flex: 1;
  box-shadow: 0 0 5px 0 gray;
  border-radius: 1.5rem;
  padding: 0.5rem 1.3rem;
  position: relative;
}
.searchbar--container input {
  background: none;
  border: none;
  width: 100%;
}
.searchbar--container input:focus {
  outline: none;
}
.search--icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.search--icon:hover {
  transform: translateY(-50%) scale(1.2);
}
